html {
    scroll-behavior: smooth;
}

nav {
    background-color: #f8f9faa8;
    backdrop-filter: blur(10px);
}

.button {
    all: unset;
    display: inline;
    width: fit-content;
    background-color: #f2544b;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.button:hover {
    text-decoration: none;
}

.rounded {
    border-radius: 15px !important;
}

.hero {
    background: #F1C7BD;
    background: linear-gradient(270deg, rgba(241, 199, 189, 1) 0%, rgba(249, 228, 198, 1) 50%, rgba(200, 222, 226, 1) 100%);
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://lh3.googleusercontent.com/d/1fd9EjGQcE8dvN1O0FtH6ZKre15qoY4C-=w600?authuser=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    flex-grow: 1;
    max-height: 80vh;

    aspect-ratio: 1/1;

}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.greeting h3 {
    max-width: 90%;
    display: block;
}

.greeting h5 {
    margin: 0px;
}



.card-img-top {

    aspect-ratio: 1/1;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.card {
    flex-grow: 1;
    width: 250px;
    overflow: hidden;

}

.card-text {
    margin-bottom: 2em;
    height: 3em;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.card-text::-webkit-scrollbar {
    display: none;
}

.gallery {
    gap: 20px;
}

.gallery .col-sm-4 {
    min-width: min-content;
    max-width: max-content;
}

.badge-custom {
    background-color: #F1C7BD;
    margin: 2px;

    min-width: 10px;
    width: min-content;
    display: block !important;
}

.card-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
    margin: 0px !important;

}

.secondary {
    background-color: #c8dee2 !important;
    color: black !important;
}

.secondary:hover {
    color: black !important;
}

.about-image {
    background-image: url('https://lh3.googleusercontent.com/d/11grP8ejIvRYi4KgzwaMifUAEn1I_lO37=w600?authuser=0');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    aspect-ratio: 1/1;

}

.about-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-wrapper .card-img-top {
    object-fit: contain;
    aspect-ratio: unset;
    width: 100%;
}

.fs-4 {
    font-size: larger !important;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background-color: #ffffff;
    border: none;
    width: min-content;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 10px;

}

.carousel a {
    top: 50% !important;
    padding: 8px;

    transform: translateY(-50%) !important;
    height: 80%;
    border-radius: 10px;
    margin: 10px;
    display: flex !important;
}

.moreBtn {
    margin-bottom: 20px;
    width: 80%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bootstrap-select {
    width: 100% !important;
}


.select-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}

@media screen and (max-width: 520px) {
    .gridView {
        width: 100px;
    }

    .gridView .card-body {
        display: none !important;
    }

    .gallery {
        gap: 10px
    }
}

.comment {
    display: flex;
    flex-direction: row;
    min-height: 5em;
    margin-bottom: 20px;
    gap: 15px;
    border: 1px solid #cccccc;
    background-color: #e9ecef;
    flex-wrap: wrap;
    position: relative;
}

.comment.verified::after {
    background-color: green;
}

.comment.unverified::after {
    background-color: goldenrod;
}

.comment::after{
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    aspect-ratio: 1/1;

    right: 15px;
    top: 15px;
    border-radius: 50%;
}


.comment-body {
    padding: 20px;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 80%;

}

.textlink {
    all: unset;
    display: flex;
    gap: 10px;
    transition: all 0.2s;
    align-items: center
}

.textlink span {
    text-decoration: underline;
}

.textlink:hover {
    all: unset;
    display: flex;
    gap: 15px;
    transition: all 0.2s;
    align-items: center
}

.comment-form {
    background-color: #e9ecef;
}

.feedback.unset::after {
    content: ""
}

.feedback.too-long::after {
    content: "This Field Is Too Long";
}

.feedback.fill-field::after {
    content: "Please Fill This Field";
}